/* IMPORTS *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* TYPOGRAPHY/Tipografía  *********************************** */
@import url(../font/poppins/poppins.css);
/* @font-face {
  font-family: "Poppins";
  src: url("font/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */

/* VARIABLES/DEFINICION VARIABLES *********************************** */ 
:root{
  --color-primary: #fefefe;
  --color-secondary: #04B4E0;

  --color-background: #F2F7F9;
  --color-transparent: transparent;

  --color-icon: #B5B6B7;
  --color-title: #222222;
  --color-subtitle: #888;
  --color-text: #555;

  --color-semi-transparent-25: rgba(205 205 205 / 25%);
  /* --color-semi-transparent-50: rgba(205 205 205 / 50%); */
  --color-semi-transparent-50: rgba(167, 194, 194, 0.5);--color-semi-transparent-75: rgba(167, 194, 194, 0.75);
}
/* TEXT SELECTION ************************************** */
::selection{
  color: var(--color-text);
  background-color: var(--color-background);
}
/* GENERAL STYLES/ESTILOS GENERALES*********************************** */ 
html{
  font-size: 9px;
}

body{
  width: 100%;
  height: auto;
  background-color: var(--color-background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5em; /*24px*/
  color: var(--color-text);
  overflow: hidden;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
} 

/* BACKGROUND IMAGE/IMAGEN DE FONDO*********************************** */ 
body{
  /* background-image: url(../img/desktop/fondo.png); */
  background-image: url(../img/desktop/3165d6a22626526ce8cfaefe5dca6404.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -120px;
}

/* MAIN STYLES/ESTRUCTURA PRINCIPAL*********************************** */ 
.layout{
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;

  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  background: var(--color-semi-transparent-25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  /* SHADOW/SOMBRA (around all the layout)********************* */ 
  border-radius: 4rem;
  box-shadow: 4px 4px 14px 0 rgba(0,0,0,0.5), -4px -4px 14px 0 rgba(0,0,0,0.5);
}

/* SIDEBAR/BARRA LATERAL*********************************** */ 
.layout__aside{
  grid-area: aside;

  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  min-height: 100%;
  min-width: 30rem;

  /* background-color: var(--color-secondary); */
  color: var(--color-primary);
}

.user-info__container-image{
  position: relative;
  display: inline-block;
  margin-top: 7rem;
  width: 18rem;
  z-index: 1;
}

.user-info__image{
  width: 100%;
  /* if for some reason wont the image load */
  background-color: var(--color-primary);

  border: 3px solid var(--color-primary);
  
  /* border-radius: 20rem; */
  border-radius: 50%;
}

/* SPECIAL SHADOW FOR THE IMAGE, content needs to be a space */
.user-info__container-image::after{
  content: " ";
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
  background-size: 0.6rem 0.6rem;
  border-radius: 30rem;
  opacity: 0.4;
}

.user-info__name{
  margin-top: 2.6rem;
  color: var(--color-primary);
  font-size: 3.2 rem;
  font-weight: bold;
}

.user-info__job{
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--color-primary);
}

.user-info__links{
  margin-bottom: 3.6rem;

}

.links__social{
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.social__option{
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}
.social__option:hover{
  /* opacity: 1; */
  /* background-color: rgba(255,255,255,0.20); */
  box-shadow: -2px -2px 7px var(--color-primary),
              1px 1px 7px var(--color-primary);
}

.user-info__buttons{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.user-info__btn{
  border: 2px solid var(--color-primary);
  padding: 1.3rem 3rem;
  border-radius: 3.2rem;
  color: var(--color-primary);
  box-shadow: 0 10px 6px -8px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}
.user-info__btn:hover{
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.user-info__footer{
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}

/* MAIN CONTAINER/CONTENEDOR PRINCIPAL*********************************** */ 
.layout__content{
  grid-area: content;
  height: 100%;
  min-height: 100%;
  /* background-color: var(--color-secondary); */
  border-radius: 0 10rem 10rem 0;
}

.content__page{
  background-color: var(--color-background);
  height: 100%;
  min-height: 100%;
  border-radius: 3.2rem;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__name{
  font-size: 6rem;
  margin-bottom: 1rem;
  color: var(--color-title);
}

.page__job{
  font-size: 2.1rem;
  font-weight: lighter;
  color: var(--color-subtitle);
}

/* NAVMENU/MENU NAVEGACION LATERAL*********************************** */ 
.layout__menu{
  display: block;
  position: absolute;
  top: 0;
  right: -105px;
  min-width: 11rem;
  background-color: var(--color-transparent);

}

.menu__list{
  position: relative;
  width: 60%;
  padding: 2rem 0;
  margin: 0 2.5rem;
  min-height: 32rem;
  background-color: var(--color-background);
  box-shadow: 0 0 3rem -0.5rem rgba(0,0,0,0.5);
  border-radius: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__option{
  display: block;
  width: 100%;
  text-align: center;
}

.menu__icon:hover{
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.menu__icon{
  color: var(--color-icon);
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
}
/* TOOLTIP******************************************** */
.menu__overlay{
  position: absolute;
  right: 0;
  margin-top: -3rem;
  opacity: 0;
  padding: 0.5rem 1rem;
  display: block;
  /* color: var(--color-primary); */
  /* background-color: var(--color-secondary); */
  color: var(--color-title);
  background: var(--color-semi-transparent-50);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.493);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  white-space: nowrap;
  border-radius: 6px;

  transition: all 0.3s ease-in-out;
}
/* TOOLTIP TRIANGLE ARROW RIGHT******************************************** */
.menu__overlay::after{
  content: " ";
  position: absolute;
  top: 5px;
  right: -20px;
  margin-right: 1px;
  border-width: 10px;
  border-style: solid;
  border-color:  transparent transparent transparent var(--color-semi-transparent-50);
}

.menu__option:hover .menu__overlay{
opacity: 1;
right: 100%;
transition: all 0.3s ease-in-out;
}

/* ABOUT ME PAGE******************************************** */
.content__about{
  display: block;
  height: 100%;
  min-height: 100%;

  overflow: auto;
  padding: 6rem;
  padding-right: 3rem;
  background-color: var(--color-background);
  border-radius: 3.2rem;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}